.amount-payment {

  .payment-title {
    margin-bottom: 10px;

    .payment-icon {
      margin-right: 10px;
      border-radius: 100%;
      background-color: @primary-color;
      padding: 8px;
      color: white;
    }
  }

  .total-amount, ul li {
    display: flex;
    justify-content: space-between;
  }
  ul {
    padding-inline-start: 0;
  }
  li span:first-child {
    text-align: left;
    color: #000000;
  }
  li span:last-child {
    text-align: right;
    color: #ec5858;
  }
}
